@model StarFishWebsite.Models.Environment

@{
    ViewBag.Title = "NewEnvironment";
}


<div class="card bg-light mb-3">
    <div class="card-header">
        <h2>Add Environment:</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("AddEnvironment", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table>
                <tr>
                        <td>
                            <label>Name: </label>
                        </td>
                        <td>

                            @Html.TextBoxFor(u => u.name, new { @class = "form-control" })
                        </td>
                </tr>
                <tr>
                    
                        <td>
                            <label>Price: </label>
                        </td>
                        <td>
                            @Html.TextBoxFor(u => u.price, new { @type = "number", step = "0.01" })
                        </td>
                </tr>
                <tr>
                    
                        <td>
                            <label>Food Type:</label>
                        </td>
                        <td>
                            @Html.DropDownList("foodType", (SelectList)ViewBag.FoodTypes, "Select a food type")
                        </td>
                </tr>
                <tr>
                    
                        <td>
                            <label>Available: </label>
                        </td>
                        <td>
                            @Html.CheckBoxFor(u => u.available)
                        </td>
                </tr>
                <tr>
                    <td>
                        <label>Image:</label>
                    </td>
                    <td>
                        <div>
                            <input type="file" name="filetobeuploaded" />
                        </div>
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>