@model StarFishWebsite.Models.FoodType

@{
    ViewBag.Title = "NewFoodType";
}

<h2>NewFoodType</h2>

@using (Html.BeginForm("AddFoodType", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(u => u.Name)
        @Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
}

